article{
    font-family: 'Inter', sans-serif;
    background-color: hsl(210, 46%, 95%);
    display: grid;
    place-items: center;
}
.box{
    max-width: 400px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.1);
    overflow: hidden;

}

.image img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.content{
    padding: 25px;
}
.content ul{
    list-style: none;
    padding: 5px 5px 15px 0;
    margin: 20px 0;
}
.content ul li{
    margin-bottom: 10px;
    font-size: 20px;
}
.content img{
    width: 15px;
    height: auto;
    display: inline;
    margin-right: 10px;
}
.signup-form input[type="email"]{
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 5px;
    font-size: 16px;
}
.signup-form button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: hsl(228, 45%, 44%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.signup-form p{
    display: none;
    font-size: 16px;
    color: hsl(210, 46%, 95%);
    text-align: center;
    padding: 20px;
}
 .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }